* {
  font-family: 'Futura';
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

#nav {
  transition: 0.3s;
  background-color: #000000;
  display: flex;
  flex-direction: row;
  padding-top: 48px;
  padding-bottom: 48px;
  flex-wrap: wrap;
  width: 100%;
}

.navbar-brand-container {
  /* border: 1px solid red; */
}

.navbar-links-container {
  justify-content: center;
  align-items: center;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  font: normal normal medium 18px/40px Futura PT;
  letter-spacing: 0px;
}

.navbar-nav > li {
  padding-left: 40px;
}

.navbar-icons-container {
  justify-content: right;
  align-items: right;
}

.navbar-nav-right {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: right;
  text-align: right;
  list-style: none;
  color: white;
}

.nav-icon {
  color: white;
  font-size: 26px;
  padding-left: 22px;
  margin-top: 20px;
  font-weight: bold;
}

.filter-title {
  margin-top: 30px;
}

.filter-description {
  margin-bottom: 25px;
}

.filter-input {
  /* border: 1px solid red; */
}

.form-control {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}

#product-container {
  margin-top: 48px;
}

.product-img {
  /* height: 460px; */
  width: 100%;
}

.product-details {
  display: flex;
  flex-direction: row;
}

.product-details-left{
  /* product details left */
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.product-details-right {
  /* product details right */
  justify-content: right;
  align-items: right;
  display: flex;
  justify-content: center;
  align-items: center;
}

#color-box {
  border: 1px solid black;
  height: 12px !important;
  width: 12px !important;
}

@media (max-width: 768px) {
  .navbar-links-container {
    display: none;
  }
}