body {
  /* font-family: Arial, Helvetica, sans-serif; */
  letter-spacing: 0.9px;
  /* line-height: 1.6; */
  font-weight: 100 !important;
  background-color: #f8f8f8;
}

* {
  font-family: 'Futura' !important;
}

/* MAIN PAGE HEADER */
.main-header {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  overflow-y: hidden;
  height: 100vh;
}

.main-header-left {
  background-color: #000;
  padding: 40px 30px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
}

.main-header-right {
  height: 100vh;
}

.main-header-right img {
  width: 100%;
  /* height: 100%;
  object-fit: cover; */
}

.header {
  width: 100%;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-icon {
  height: 25px;
  width: 25px;
  margin-left: 30px;
  cursor: pointer;
  opacity: 0.96;
}

.header-cart-items {
  position: relative;
  height: 25px;
  width: 25px;
}

.header-cart-items span {
  position: absolute;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  top: -15px;
  right: -10px;
  opacity: 0.96;
}

.cart-number {
}

.logo {
  height: 45px;
  cursor: pointer;
}

.header-menu {
  padding-top: 40px;
}

ul.header-menu-list {
  display: flex;
  width: 75%;
  margin: 0 auto;
  justify-content: space-between;
}

ul.header-menu-list li {
  list-style: none;
}

ul.header-menu-list li a {
  text-decoration: none;
  color: #fff;
  opacity: 0.92;
  line-height: 1.3;
  font-size: 15px;
}

.header-contents {
  width: 75%;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  opacity: 0.97;
}

.header-contents h3 {
  font-size: 18px;
  padding-bottom: 20px;
  font-weight: 600;
}

.header-contents p {
  font-weight: 100 !important;
}

.scroll-down-chevron {
  height: 30px;
  width: 30px;
  fill: #fff;
  cursor: pointer;
  opacity: 0.95;
}

.header-scroll {
  display: flex;
  justify-content: center;
}

/* SECTIONS */
.single-image {
  width: 100vw;
  height: 100vh;
}
.single-image video {
  width: 100%;
  object-fit: cover;
  height: 100vh;
}

.single-image-text {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  background-color: #f8f8f8;
}

.section-text-container {
  align-self: center;
  width: 75%;
  margin: 0 auto;
  text-align: center;
}

.section-text-container h1 {
  font-size: 25px;
  font-weight: 500;
  text-transform: uppercase;
}

.section-text-container ul {
  margin-left: 0;
  padding-left: 0;
  padding-top: 60px;
}

.section-text-container li {
  list-style: none;
  margin-bottom: 40px;
}

.section-text-container li a {
  list-style: none;
  padding-bottom: 10px;
  border-bottom: 2px solid #000;
  font-size: 20px;
  text-decoration: none;
  color: #000;
}

.section-image-holder {
  height: 100vh;
}

.single-image-text img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gold-section {
  background-color: #f8bb6e;
}

/* Global Bg */
.bg-black {
  background-color: #000000;
}

.menu-global {
  min-width: 50%;
  justify-content: flex-start;
  padding-top: 0;
  height: 100.18px;
}

.menu-global .header-menu-list {
  align-items: center;
  height: 100%;
}

.page-title {
  text-align: center;
  padding: 30px 15px 0 15px;
}

.page-title h1 {
  font-size: 26px;
  text-transform: uppercase;
}

.page-title p {
  width: 70%;
  margin: 20px auto 30px auto;
  font-size: 19px;
}

.collections {
  border-top: 0.5px solid #7070706e;
}

.collection-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 40px;
}

.options-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.options-container .option:not(:last-child) {
  padding-right: 40px;
}

.option {
  padding-bottom: 20px;
}

.option img {
  padding-bottom: 4px;
  cursor: pointer;
}

.form-check {
  margin-bottom: 0;
}

.d-flex-start {
  display: flex;
  justify-content: start;
  align-items: center;
}

.option span {
  text-transform: uppercase;
  padding-right: 10px;
  font-size: 15px;
  font-weight: 100;
  cursor: pointer;
}

.w-100p {
  width: 100%;
}

.item {
  padding-bottom: 30px;
}

.middle-section {
  width: 90%;
  margin: 0 auto;
}

.item-details {
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
}

.item-label h4 {
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 550;
}

.item-label span {
  font-weight: 200;
  font-size: 16px;
}

.item-color {
  display: block;
  height: 15px;
  width: 15px;
  border: 1px solid #707070;
  margin-top: 5px;
}

.black {
  background-color: #000;
}

.yellow {
  background-color: #bd6800;
}

.orange {
  background-color: #ee5600;
}

.form-group {
  padding-bottom: 15px;
}

.form-title {
  text-align: center;
  font-size: 25px;
  margin: 40px;
}

form {
  margin-bottom: 30px;
}

.form-control {
  border: 1px solid #00000045;
}

.photo-row {
  display: grid;
  grid-template-columns: 50% 50%;
}

@media (max-width: 768px) {
  .main-header {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

.py-4 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.py-5 {
  padding-top: 80px;
  padding-bottom: 40px;
}

.px-4 {
  padding-right: 40px;
  padding-left: 40px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-60 {
  padding-top: 60px;
}

.main-pic-holder {
  height: 100vh;
}

.about-details {
  background-color: #161617;
}

.about {
  display: grid;
  grid-template-columns: 70% 30%;
}

.about-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.margin-auto {
  margin: 0 auto;
  width: 60%;
}

.about-details {
  color: #fff;
}

.about-details h1 {
  font-size: 25px;
  padding-bottom: 20px;
}

.about-details h1,
.about-details p {
  opacity: 0.95;
  font-weight: 300;
}

@media (max-width: 768px) {
  .about {
    grid-template-columns: repeat(1, 1fr);
  }

  .margin-auto {
    margin: 40px auto;
    width: 90%;
  }

  .main-pic-holder {
    height: auto;
  }
}

.faq-container {
  position: relative;
  display: flex;
}

.rightBG {
  width: 80px;
  height: 100vh;
  position: fixed;
  right: -20px;
  top: 0;
}

.faq-container .contents h2 {
  font-weight: 400;
  font-size: 25px;
  padding: 60px 0 40px 0;
}

.faq-container .contents h4 {
  font-weight: 500;
  padding-bottom: 5px;
  font-size: 19px;
}
.pb-40 {
  padding-bottom: 20px;
}

.booking-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 40px;
}

.booking-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.d-flex-right {
  justify-content: flex-end;
  display: flex;
}

.d-flex-separetes {
  justify-content: space-between;
  display: flex;
}

.pt-30 {
  padding-top: 20px;
}

.min-width-350 {
  width: 350px;
}

@media (max-width: 768px) {
  .min-width-350 {
    width: auto;
  }
}

.small-section {
  width: 60%;
  margin: 60px auto;
  text-align: center;
}

.small-section h1 {
  font-size: 26px;
  text-transform: uppercase;
}

.small-section p {
  margin: 20px auto 30px auto;
  font-size: 19px;
}

.small-section-image-holder {
  width: 80%;
  margin: 0 auto;
  /* height: 95vh; */
}

.small-section-image-holder img {
  width: 100%;
  /* height: 100%;
  object-fit: contain; */
}

.pb-60 {
  padding-bottom: 60px;
}

.section-holder {
  position: relative;
}

.small-section-image-holder {
  position: relative;
}
.more-link {
  position: absolute;
  top: 40%;
  right: 10%;
  font-size: 17px;
  font-weight: 400;
  color: #fff;
  opacity: 0.95;
}

.more-link:hover {
  color: #fff;
}

.overlay-section {
  background-color: #000;
}

.overlay-section-img-holder {
  width: 100%;
  height: 489px;
}

.overlay-section-img-holder img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media (max-width: 768px) {
  .overlay-section-img-holder {
    height: auto;
  }

  .overlay-section-img-holder img {
    height: auto;
  }
}

.product-color {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: block;
}

.black,
.orange,
.gold {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: block;
}

.black {
  background-color: #000;
}

.gold {
  background-color: goldenrod;
}

.product-colors {
  display: flex;
}
.product-colors span {
  margin-right: 10px;
  cursor: pointer;
}

input[type='radio']:checked + label {
  position: relative;
}

input[type='radio']:checked + label {
  position: relative;
  display: block;
}

input[type='radio'].show-check:checked + label::after {
  display: block;
  content: '\2713';
  width: 10px;
  height: 10px;
  color: #fff;
  border-radius: 50%;
  position: absolute;
  left: 30%;
  /* top: 50%;
  transform: translate(-50%, -50%); */
}

.product-name {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 25px;
}

.product-price {
  font-weight: 300;
  font-size: 21px;
}

.option-title {
  margin-bottom: 0;
  padding-top: 15px;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.pr--40 {
  padding-right: 40px;
}

@media (max-width: 768px) {
  .pr--40 {
    padding-right: 0px;
  }
}

.product-sizes {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.size {
  min-width: 25px;
  min-height: 25px;
  background-color: #fff;
  border: 0.5px solid #707070;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  transition: all 0.3s;
  /* padding: 3px 8px; */
  width: 50px;
  height: 30px;
  cursor: pointer;
}

.size-black {
  background-color: #000;
}

input[type='radio'].show-bg:checked + label {
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 3px 8px; */
  /* width: 40px; */
}

.fw-600 {
  font-weight: 600;
}

.product-section {
  width: 85%;
  margin: 0 auto;
}

.show-mobile {
  display: none;
}

.header.home {
  height: 100px;
  position: relative;
}

.home-menu {
  position: absolute;
  bottom: -60px;
  width: 100%;
}

@media (max-width: 768px) {
  .page-title p {
    width: 100%;
    margin: 20px auto 30px auto;
    font-size: 19px;
  }

  .middle-section {
    width: 94%;
    margin: 0 auto;
  }

  .menu-global {
    width: 100%;
    margin: 0 auto;
    position: fixed;
    height: 100vh !important;
    z-index: 9999;
    background-color: #000;
    left: 0;
    top: 0;
    display: none;
  }

  ul.header-menu-list {
    justify-content: flex-start;
    flex-direction: column;
    position: fixed;
    left: 0;
    padding-top: 80px;
  }

  ul.header-menu-list li {
    padding-top: 20px;
  }

  .menu-global::after {
    display: block;
    font-size: 25px;
    color: #fff;
    position: absolute;
    right: 0;
    margin: 50px;
  }

  .collection-options {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 40px;
  }

  .header {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  /* .header-cart-items::after {
    content: url('..//assets/menu.svg');
    height: 25px;
    width: 25px;
    margin-left: 30px;
    cursor: pointer;
    opacity: 0.96;
  } */

  .show-mobile {
    display: block;
  }

  .mobile-left {
    position: absolute;
    right: 15px;
  }

  .close-menu {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
  }

  .close-menu:hover,
  .close-menu:active,
  .close-menu:visited {
    color: #fff;
    text-decoration: none;
  }

  .header-cart-items {
    margin-right: 50px;
  }

  .header-icon {
    margin-left: 15px;
  }

  #menu:target {
    display: flex !important;
  }

  .menu-global .header-menu-list {
    align-items: flex-start;
    height: 100%;
  }
}

.show-small-mobile {
  display: none;
}

.py-6 {
  padding: 60px 0;
}

@media (max-width: 500px) {
  .main-header-left {
    padding: 0;
    height: auto;
  }

  .main-header-right {
    height: auto;
  }

  .main-header {
    height: auto;
  }

  .show-small-mobile {
    display: block;
  }

  .hide-small-phone {
    display: none;
  }

  .header-scroll.show-small-mobile {
    display: flex;
    justify-content: center;
    padding-top: 40px;
  }

  .header-contents {
    width: 85%;
  }

  .title {
    padding: 30px 0;
    text-align: center;
    font-size: 20px;
  }

  .small-reverse {
    display: flex;
    flex-direction: column-reverse;
  }

  .section-text-container {
    align-self: center;
    width: 85%;
    padding: 40px 0;
    text-align: center;
  }

  .section-text-container ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .section-text-container li a {
    list-style: none;
    padding-bottom: 10px;
    border-bottom: 2px solid #000;
    font-size: 16px;
    text-decoration: none;
    color: #000;
  }

  .section-text-container ul {
    padding-top: 40px;
  }

  .bg-dark-gray {
    background-color: #e8e8e8;
  }

  .section-text-container h1 {
    font-size: 20px;
  }

  .reserse {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .header.home {
    height: 70px;
    position: relative;
  }
}

/* Cart/Bag design */

.canvas-cart-title-icon {
  padding-right: 10px;
}

.canvas-cart-title-text {
  text-align: center;
}

.cart-close {
  background-color: white;
  border-radius: 50px;
}

.cart-close:hover {
  background-color: rgb(151, 148, 148);
  border-radius: 50px;
}

.cart-continue-shopping {
  width: 100%;
  height: 45px;
  border: 2px solid white;
}

/* Collection product */
.product-img {
  cursor: pointer;
  overflow: hidden;
  /* height: 4.5in; */
  object-fit: contain;
}

@media (min-width: 1448px) {
  .product-img {
    /* height: 6.5in; */
    object-fit: contain;
  }
}

.product-name-description {
  cursor: pointer;
}

.img-hover-zoom {
  /* height: 530px;  */
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

.img-hover-zoom img {
  transition: transform 0.5s ease;
}

.img-zoom:hover {
  transform: scale(1.5);
}

#document {
  /* width: 100%;
  height: 100%; */
  transform-origin: 0px 0px;
  transform: scale(1) translate(0px, 0px);
}

.other-img {
  margin-bottom: 5px;
  cursor: pointer;
}

/* Loader */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #646366;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
#loader:before {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #0d0d0e;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}
#loader:after {
  content: '';
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #27222711;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.pt-50 {
  padding-top: 40px !important;
}

.border-bottom-1 {
  border-bottom: 1px solid #eee;
}

.fs--18 {
  font-size: 18px;
}

.fs--16 {
  font-size: 16px;
}

.pb-20 {
  padding-bottom: 20px;
}

.text-right {
  text-align: right !important;
}

.cart-options {
  background-image: linear-gradient(to bottom right, #d2ac47, #edc967);
  border-color: #e5e5e5 !important;
  padding: 20px;
}

.btn--text {
  font-size: 16px;
  line-height: 14px;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  text-decoration: underline !important;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}

.cart-options label {
  font-weight: 500;
  font-size: 15px !important;
}

.cart-options p {
  color: #858585;
  font-size: 17px;
  font-weight: 600;
}

.border-bottom-dashed {
  border-bottom: 1px dashed #e5e5e5 !important;
}

.fs--14 {
  font-size: 15px;
}

.fs--19 {
  font-size: 22px;
}

.delete-cart {
  height: 25px;
  width: 25px;
}

.cart-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  padding: 20px 0;
}

.cart-item p {
  font-size: 17px;
  font-weight: 600;
}

.cart-item .product,
.cart-item .pricing {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-item .pricing .form-control {
  width: 35%;
  margin: 0 auto;
}

.cart-item .product .product-image {
  width: 45%;
}

.color-cold {
  color: #858585;
}

.cart-item .pricing {
  width: 40%;
}

.cart-item-title {
  font-size: 19px !important;
}

.cart-item p {
  margin-bottom: 0.5rem;
}

@media (max-width: 768px) {
  .cart-item {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
  }

  .cart-item .product,
  .cart-item .pricing {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .cart-item .product .product-image {
    width: 40%;
  }
}

.cart-update-icon {
  height: 20px;
  width: 20px;
}

.cart-updates {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.cart-updates div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.cart-updates div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.cart-updates h4 {
  font-size: 17px;
  text-transform: uppercase;
  margin-bottom: 0;
  padding-bottom: 0;
  margin-left: 10px;
  cursor: pointer;
}

.checkout {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  width: 100%;
}

.checkout-form-container {
  background-color: #fff;
  width: 100%;
  min-height: 100vh;
  border-right: 1px solid #eee;
  padding: 80px;
}

.checkout-details {
  width: 100%;
}

.field__input {
  border: 1px transparent solid;
  background-clip: padding-box;
  border-radius: 5px;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 0.9285714286em 0.7857142857em;
  word-break: normal;
  line-height: inherit;
  background-color: white;
  color: #333333;
  border-color: #d9d9d9;
  height: 45px;
}

.fs--13 {
  font-size: 13px;
}

.shipping_option {
  border: 1px solid #d9d9d9;
  border-radius: 10px;
}

.icon-small {
  height: 20px;
  width: 20px;
  opacity: 0.8;
}

.form-check-label {
  margin-left: 5px;
  display: flex !important;
  align-items: center;
  justify-content: flex-start;
}

.form-check-label img {
  margin: 0 8px;
}

.form-check-radio {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* border-bottom: 1px solid #d9d9d9; */
}

.form-check-radio:not(:last-child) {
  border-bottom: 1px solid #d9d9d9;
}

.d-flex-start-center {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}

.checkout-form-container h5 {
  /* font-weight: 300; */
  font-size: 17px;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: 15px;
  font-weight: 300;
}

.mr-3 {
  margin-right: 20px;
}

.pointer {
  cursor: pointer;
}

.m---40 {
  margin-top: -40px;
}

.checkout-details {
  padding: 80px;
}

.cart-product-image {
  width: 60px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #eee;
  padding: 5px;
  position: relative;
  margin-right: 20px;
}

.cart-product-image img {
  width: 100%;
}

.qty {
  position: absolute;
  right: -10px;
  top: -10px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: rgba(114, 114, 114, 0.9);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
}

.cart-product-details {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .cart-updates {
    margin-bottom: 30px;
  }
}

@media (max-width: 500px) {
  .checkout {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    width: 100%;
  }

  .checkout-form-container {
    background-color: #fff;
    width: 100%;
    min-height: auto;
    border-right: 0;
    padding: 40px 15px;
  }

  .checkout-details {
    width: 100%;
    min-height: auto;
    border-right: 0;
    padding: 40px 15px;
  }
}

.form-check-input:checked {
  background-color: #000;
  border-color: #000;
}

.form-check-input:focus {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(135 135 135 / 25%);
}

.shipping-option {
  margin-left: 10px;
}

.flex-separated {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fs--13 {
  font-size: 13px;
}

.mr-30 {
  margin-right: 30px;
}

.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0;
  margin-bottom: 2rem;
  list-style: none;
}

.breadcrumb a {
  color: #000;
  text-decoration: none;
  font-size: 14px;
}
/* SIDEBAR CART */
.product-details {
  display: flex;
}

.side-product-details-image {
  width: 35%;
}

.side-product-change {
  display: flex;
}

.cart-icon {
  font-size: 28px;
}

.trash-icon {
  font-size: 22px;
}

#nav-checkout {
  --bs-breadcrumb-divider: '>';
}

#span-checkout {
  font-weight: 400;
}

/* cart disabled */
#cart-disabled {
  background-color: #949494 !important;
}

#breadcrumb-arrow {
  --bs-breadcrumb-divider: '>';
}

/* image zoom */
.zoomed-image {
  background-size: cover;
  cursor: pointer;
}

/* Custom style */
.accordion-button::after {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
  transform: scale(0.7) !important;
}
.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
}

.filter-dropdown {
  padding-bottom: 20px;
}

.filter-dropdown span {
  text-transform: uppercase;
  padding-right: 10px;
  font-size: 15px;
  font-weight: 100;
  cursor: pointer;
}

.filter-dropdown i {
  cursor: pointer;
}

.dropdown-toggle::after {
  display: none;
}

@media (max-width: 768px) {
  .faq-container {
    display: block !important;
  }
}

.marquee-card {
  display: flex;
  box-shadow: 0 8px 20px 0 rgb(0 0 0 / 0%);
  /* background: salmon; */
  justify-content: center;
  align-items: center;
  color: white;
  width: 100%;
  /* padding: 20px; */
}

.marquee-item {
  padding: 15px;
}

.marquee-container {
  padding: 1rem 0;
}

.carousel-row {
  padding: 30px 40px;
}

@media (max-width: 500px) {
  .carousel-row {
    padding: 20px;
  }
}

.table-sizes thead {
  background-color: #000;
  color: #fff !important;
}

.table-sizes thead tr {
  background-color: black !important;
  color: #fff;
}

.table-sizes thead tr th {
  font-weight: 300;
}

.pb--80 {
  padding-bottom: 80px;
}

.guide {
  display: block;
  padding-bottom: 10px;
}
